<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Sprawdź aplikację na te zawody</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>

<div class="navbar">
    <input id="navbar-toggle" th:type="checkbox" />
    <label class="navbar-btn" for="navbar-toggle">
        <span></span>
    </label>

    <ul class="navbar-box">
        <li>
            <form class="navbar-item" th:action="@{/redirectToWelcome}">
                <input class="nav-items" type="submit" value="Strona główna"/>
            </form>
        </li>
        <li>
            <form th:action="@{/redirectToSearchClubPage}">
                <input class="nav-items" type="submit" value="Wyszukaj klub"/>
            </form>
        </li>
        <li>
            <form th:action="@{/redirectToSearchCompetitionsPage}">
                <input class="nav-items" type="submit" value="Wyszukaj zawody"/>
            </form>
        </li>
        <li>
            <form th:action="@{/redirectToSearchPlayersPage}">
                <input class="nav-items" type="submit" value="Wyszukaj zawodników"/>
            </form>
        </li>
        <li>
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/redirectToEditPage}">
                    <input class="nav-items" type="submit" value="Edytuj swoje konto"/>
                </form>
            </div>
        </li>
        <li>
            <div sec:authorize="isAuthenticated()">
                <form id="logoutForm" method="POST" th:action="@{/logout}">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </form>
                <button onclick="document.forms['logoutForm'].submit()">Logout</button>
            </div>
        </li>
    </ul>
</div>

<div class="container">
    <h2 class="form-signin-heading">Prośby o akceptacje na zawody</h2>
    <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
    <form method="POST" class="form-signin" th:object="${verificationForm}" th:action="@{/verificationMedicalExaminations}">
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>Id rejestracji</th>
                <th>Nazwa klubu</th>
                <th>Trener</th>
                <th>Zobacz zawodników</th>
                <th>Twoja akcja</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="registration : ${regClubForCompetition}">
                <td th:block th:text="${registration.id}"></td>
                <td th:block th:text="${registration.clubName}"></td>
                <td th:block th:text="${registration.coachName}"></td>
                <td>
                    <a th:href="@{'/seePlayersInRegistration/' + ${registration.id}}">Zobacz zawodników</a>
                </td>
                <td>
                    <a th:href="@{'/acceptRegistrationForCompetition/' + ${registration.id}}">Akceptuj</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/rejectRegistrationForCompetition/' + ${registration.id}}">Odrzuć</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>
