<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Wyszukaj zawody</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>

    <div class="navbar">
        <input id="navbar-toggle" type="checkbox" />
        <label class="navbar-btn" for="navbar-toggle">
            <span></span>
        </label>

        <ul class="navbar-box">
            <li>
                <form class="navbar-item" th:action="@{/redirectToWelcome}">
                    <input class="nav-items" type="submit" value="Strona główna"/>
                </form>
            </li>
            <li>
                <form th:action="@{/redirectToSearchClubPage}">
                    <input class="nav-items" type="submit" value="Wyszukaj klub"/>
                </form>
            </li>
            <li>
                <form th:action="@{/redirectToSearchCompetitionsPage}">
                    <input class="nav-items" type="submit" value="Wyszukaj zawody"/>
                </form>
            </li>
            <li>
                <form th:action="@{/redirectToSearchPlayersPage}">
                    <input class="nav-items" type="submit" value="Wyszukaj zawodników"/>
                </form>
            </li>
            <li>
                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/redirectToEditPage}">
                        <input class="nav-items" type="submit" value="Edytuj swoje konto"/>
                    </form>
                </div>
            </li>
            <li>
                <div sec:authorize="isAuthenticated()">
                    <form id="logoutForm" method="POST" th:action="@{/logout}">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </form>
                    <button onclick="document.forms['logoutForm'].submit()">Logout</button>
                </div>
            </li>
        </ul>
    </div>

    <div class="container search-forms">

        <form  th:action="@{/searchCompKey}" >
            <h1 class="form-heading">Lista zawodów</h1>
            Filter: <input type="text" name="keywordComp" class="form-control" size="50" th:value="${keywordComp}" required />

            <button type="submit" class="btn btn-lg btn-primary btn-block">Wyszukaj</button>
        </form>

        <div align="center">
            <br/><br/>
            <!-- <div sec:authorize="isAuthenticated()"> -->
            <div sec:authorize="hasAuthority('organizator')">
                <form th:action="@{/registrationCompetitions}">
                    <input type="submit" value="Dodaj zawody"/>
                </form>
            </div>
            <br/><br/>
            <table border="1" cellpadding="10">
                <thead>
                <tr>
                    <th>ID zawodów</th>
                    <th>Data zawodów</th>
                    <th>Nazwa zawodów</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${competitionList.empty}">
                    <td colspan="3"> Nie ma zawodów </td>
                </tr>
                <tr th:each="competition : ${competitionList}">
                    <td th:text="${competition.idCompetitions}"></td>
                    <td th:text="${competition.competitionDate}"></td>
                    <td th:text="${competition.competitionName}"></td>
                    <div sec:authorize="hasAuthority('trener')">
                        <td>
<!--                        <form class="form-signin" th:object="${competitiorsPlayerForm}" th:action="@{/redirectRegCompetitorsPlayer}">-->
<!--                            <input type="hidden" th:value="${competition.idCompetitions}">-->
<!--                            <input type="submit" value="Zarejestruj klub na zawody"/>-->
<!--                        </form>-->
                        <form  class="form-signin" th:object="${competitiorsPlayerForm}" th:action="@{/redirectRegCompetitorsPlayer}">
                            <div class="form-group">
                                <input type="hidden" name="keyword" id="keyword" th:value="${competition.idCompetitions}">
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Zarejestruj klub na zawody</button>
                        </form>
                    </td>
                </div>
                <div sec:authorize="hasAuthority('sedzia')">
                    <td>
                        <form class="form-signin" th:object="${competitiorsPlayerForm}" th:action="@{/redirectToJudgingCompetitions}">
                             <input type="submit" value="Zapisz się na zawody"/>
                         </form>
                    </td>
                </div>
                <div sec:authorize="hasAuthority('organizator')">
                    <td>
                        <form class="form-signin" th:object="${competitiorsPlayerForm}" th:action="@{/redirectToJudgingCompetitions}">
                            <input type="submit" value="Zobacz aplikacje"/>
                        </form>
                    </td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>


</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>